<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pedidos</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>
    <table>
        <tr>
            <th>Número de Pedido</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Precio</th>
        </tr>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido[0] }}</td>
            <td>{{ pedido[1] }}</td>
            <td>{{ pedido[2] }}</td>
            <td>${{ (pedido[3]) }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

